<ion-header>
  <ion-toolbar color="#eb9b14">
    <ion-buttons>
      <ion-back-button defaultHref="/dashboard" color="light" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <h1>Repositorio de GitHub</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <h4>Compartelo Con alguien mas</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <img src="./../../../assets/img/qrcode-generado.png" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button fill="clear" ion-button (click)="openWebPage()">Ir al Repositorio directamente</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
